<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>

</body>
</html>
<% content_for :main do %>
  <div class="container">
    <p class="text-center text-danger">
      Error occurred!!!<br>
      <%= flash[:message] %>
    </p>
  </div>

<% end %>