<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ruby on Rails</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="/rails_icon.svg">

  <style media="screen" charset="utf-8">
      body {
          font-family: Georgia, sans-serif;
          line-height: 2rem;
          font-size: 1.3rem;
          background-color: white;
          margin: 0;
          padding: 0;
          color: #000;
      }

      h1 {
          font-weight: normal;
          line-height: 2.8rem;
          font-size: 2.5rem;
          letter-spacing: -1px;
          color: black;
      }

      p {
          font-family: monospace;
      }

      .container {
          max-width: 960px;
          margin: 0 auto 40px;
          overflow: hidden;
      }

      section {
          margin: 0 auto 2rem;
          padding: 1rem 0 0;
          text-align: center;
      }

      @media only screen and (max-width: 500px) {
          h1 {
              font-size: 2rem;
          }

          .version {
              font-size: 1.1rem;
          }
      }

      .welcome {
          width: 600px;
          max-width: 100%;
          height: auto;
      }
  </style>
</head>

<body>
<div class="container">
  <section>
    <p>
      <a href="https://rubyonrails.org">
        <img width="130" height="46" alt="Ruby on Rails" src="/rails_icon_title.svg">
      </a>
    </p>

    <h1>Yay! You’re on Rails!</h1>

    <img alt="Welcome" class="welcome" src="/rails_bg.png">

    <p class="version">
      <strong>Rails version:</strong> <%= Rails.version %><br>
      <strong>Ruby version:</strong> <%= RUBY_VERSION %><br>
      <strong>Owner:</strong>&nbsp; <%= @owner %>
    </p>
  </section>
</div>


</body>
</html>